python-dotenv
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
streamlit
faiss-cpu
arxiv
wikipedia
pypdf
pymupdf
bs4
openai
pandas
duckduckgo-search
